*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}

.navbar{
  width: 100%;
  display: flex;
  background: darkblue;
  height: 60px;
  align-items: center;
  justify-content: flex-start;
}

.navbar div{
  color: white;
  margin-left: 50px;
}

.add-contact{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;

}

.add-contact button{
  padding: 8px 20px;
  color: red;
  background: none;
  border: 2px solid gray;
  border-radius: 5px;
  margin-right: 160px;
  cursor: pointer;
}
.add-contact button a{
  color: black;
}

.main-table{
  margin: 0 auto;
  width: 500px;
}
.header{
  background: darkblue;
  color: white;
  
}

.header th{
  padding: 10px 0;
}

.form{
  width: 30%;
  margin: 0 auto;
  margin-top: 100px;
  background: lightblue;
  border-radius: 5px;
  box-shadow: 5px 5px 15px blue;
}

.form form{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;

}
.form form label{
  margin: 10px 0;
}

.form form input{
  padding: 8px 0;
}
.submit{
  margin-top: 10px;
  padding: 8px 0;
  
}

.form-button{
  width: 100%;
  cursor: pointer;
  /* background: none; */
}
tbody td a{
  color: black;
}
.submit-edit{
  color: black;
}